@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap');
@import './normalize.css';
@import './variables.css';

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 15px;
	font-family: 'Open Sans', 'Roboto', sans-serif;
	color: #fff;
	background-color: var(--primary);
	letter-spacing: 0.6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Jost', 'Open Sans', 'Roboto', sans-serif;
	letter-spacing: 2.5px;
}

p {
	line-height: 23px;
}
